.product-img{
  max-width: 400px;
  margin: 0 auto;
}
.product-price{
  font-size: 35px;
/*  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid #0458d6;
  display: inline-block;*/
  font-weight: bold;
}
.product-price span{
  font-size: 22px;
  font-weight: 400;
}
